body{
    height: 100vh;
    font-family: var(--mainFont);
    background-image: url("https://www.shutterstock.com/image-photo/calm-weather-on-sea-ocean-600nw-2212935531.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

#startScreenMainContent{
    height: 100vh;
}

#startScreenMainContentSection, #startScreenMainContentContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

#startScreenMainContentButtonsContainer{
    width: 100%;
    gap: 1.5rem;
    display: flex;
    justify-content: center;
}

#startScreenMainContentTitle{
    font-size: 7rem;
    color: var(--white);
}

#startScreenMainContentStartButton, #startScreenMainContentOptionsButton{
    font-family: var(--mainFont);
    font-size: 1.5rem;
}

#startScreenMainContentStartButton {
       background-image: url("assets/botões/botao_start_preto.png");
        background-position: 0 0;
        width: 128px;
        height: 64px;
        border: none;
        cursor: pointer;
        background-color: transparent;
        scale: 2.0;
        animation: pulse 1.5s infinite ease-in-out;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);     
}

